:root{
  --bg: linear-gradient(black, rgb(0, 0, 7),black) ; 
  /* --bgSoft:linear-gradient(rgb(5, 0, 23), rgb(4, 1, 16),rgb(5, 0, 24));  */
  --text: white ;
  --textSoft : #e5e5e5;
  --btn : #3673fd;
  --texthover : rgb(160, 87, 237);
}

/* html {
  scroll-behavior: smooth;
  transition: 3s;
} */

*{
  margin: 0;
  padding: 0 ; 
  box-sizing: border-box ; 
}

body {
  color: var(--text);
  background-color: black;
}
a{
  text-decoration: none;
  color: inherit;
}


/* .container {
  width: 100%;
  background:var(--bg);
  border-bottom-left-radius: 2vh;
  border-bottom-right-radius: 2vh;
  padding-bottom: 2vh;
} */