.container {
    height: 100%; /* Ensure it takes the full height of the parent */
    width: 100%;
    padding: 0vh; 
    margin: 0%; 
    box-sizing: border-box; /* Include padding in height calculation */
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    /* background-color: rgba(6, 116, 95, 0.458); */

    overflow-y: scroll;  /* Enables vertical scrolling */
    scroll-behavior: smooth;  /* Smooth scrolling */
}
/* Hide scrollbar */
.container::-webkit-scrollbar {
    display: none;  /* For Chrome, Safari, and Opera */
}
.container {
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    scrollbar-width: none;  /* For Firefox */
}

.content {
    /* background-color: red; */
    padding:0vh 2vh;
    margin-top: 10vh;
    margin-bottom: 7vh;
}

.content h1{
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    font-weight: 100;
    margin-top: 60px;
    color: black;
}
.content .p1, .content .p2{
    background-color: rgba(116, 116, 120, 0.546);
    font-size: 20px;
    font-weight: 100;
    padding: 10px 20px;
    margin: auto;
    margin-top: -10px;
    margin-bottom: 30px;
    width: 150px;
    border-radius: 2px;
    text-align: center;
}
.p1:hover , .p2:hover{
    cursor: pointer;
    transition: 0.3s;
}

.onSale {
    background-color: rgba(116, 116, 120, 0.546);
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0vh 3vh;
    margin: 0vh 2vh;
    margin-bottom: 2vh;
    margin-top: -10px;

}

.onSale .box1 {
    /* background-color: brown; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    column-gap: 3vh;
    row-gap: 3vh;
    margin-top: 30px;
    margin-bottom: 30px;
}
.onSale .box1 .productCard {
    background-color: white;
    display: flex;
    flex-direction: column;
    width:auto;
    height: 460px;
    padding: 4px;
    color: rgb(0, 0, 0);
}
.productImage{
    height: 300px ;
    width: 248px;
}
.productCard .productName {
    /* background-color: blue; */
    display: flex;
    width: 218px;
    padding: 0px 15px;
    font-weight: 100;
}
.productCard .productDescription {
    /* background-color: purple; */
    width: 218px;
    padding: 0px 15px;
    margin-top: -5px;
    font-weight: 100;
}
.productPrice {
    /* background-color: purple; */
    width: 218px;
    padding: 0px 15px;
    margin-top: -2px;
    width: auto;
}
.productCard .productPrice span {
    /* background-color: green; */
    font-weight: 100;
}
.productPrice .originalPrice{
    /* color: rgba(250, 39, 35, 0.752); */
    text-decoration: line-through;
    font-size: 13px;
}
.productPrice .discountPrice{
    font-size: 17px;
}
.discountPercent {
    background-color: rgba(210, 119, 119, 0.603);
    padding: 4px;
    border-radius: 3px;
}

.box1 .productCard:hover{
    transition: 0.3s;
    cursor: pointer;
    /* background-color: #ffffff; */
}

/*MEDIA QUERY FOR TABS*/
@media screen and (min-width: 700px) and (min-height: 901px) {
    .content {
        margin-top: 8vh;
        padding-top: 1vh;
    }
}
/*MEDIA QUERY FOR PHONES*/
@media screen and (max-width: 767px) {  
    .h1 {
        margin-top: 30px;
    }
}